<h1 class="titre-page"> Christelle Souka </h1>

<nav class="list-sections large-screen">
    <a href="#" class="section" *ngFor="let section of sections">{{ section }}</a>
</nav>

<div class="end-nav-bar-options">
    <button class="switch-theme-button" (click)="onToggleDarkMode()"> 
        <span class="material-icons">{{ theme }}</span>
    </button>
    
    <button class="burger-menu small-screen" (click)="onToggleBurgerMenu()">
        <span class="material-icons">menu</span>
    </button>
</div>




