<h1 class="titre-page"> Christelle Souka </h1>

<nav class="list-sections large-screen">
    <a href="#{{section.link}}" class="section" *ngFor="let section of sections">{{ section.name }}</a>
</nav>

<div class="end-nav-bar-options">
    <button class="switch-theme-button" (click)="onToggleDarkMode()"> 
        <span [ngClass]="icon" style="font-size: 1.5rem"></span>
    </button>
    
    <button class="burger-menu small-screen" (click)="onToggleBurgerMenu()">
        <span class="pi pi-bars" style="font-size: 1.5rem"></span>
    </button>
    
</div>




