:host {
    display: flex;
    flex-direction: row;
    background-color: white;
    background-color: rgb(237, 246, 255);
    padding: 1.5em;
    align-items: center;
    color: rgb(0, 128, 255);
}

.list-sections {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.section {

}