:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 10em 3em 10em;   
    background-color: var(--secondary);
}

h2 {
    padding-bottom: 1em;
}

.experiences-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

::ng-deep .p-card {
  margin: 1em 0 1em 0;
}

.var-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em 1em 0 1em;
}

.experience-data {
    display: flex;
    flex-direction: column;
    padding: 0 4em 0 5em;
    flex: 1;
}

h3, h4 {
    padding: 0.5em 0 0.5em 0;
    margin: 0;
}

a {
    width: fit-content;
    background-color: white;
    padding: 0 1em 0 1em;
    border-radius: 20px;
    transition: 0.5s;
}

a:hover {
    transform: scale(1.05);
}

img {
    width: 200px;
    object-fit: contain;
}

span {
    width: 220px;
    text-align: end;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: 2em 5em 3em 5em;
    }

    .var-container {
        flex-direction: column;
        align-items: center;
        padding: 2em 0 0 0;
    }

    .experience-data {
        padding: 1em 0 1em 0;
    }

    span {
        text-align: center;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: 0.5em 2em 0.5em 2em;
    }

    h2 {
        padding-bottom: 0;
    }

    .experience-data {
        padding: 0 0 1em 0;
    }

    ul {
        text-align: start;
    }

    .var-container {
        padding: 1em 0 0 0;
    }
}
