<h2 id="experiences">Expériences</h2>

<div class="experiences-container">
    <p-card class="card-experience" *ngFor="let experience of experiences" [header]="experience.poste" [subheader]="experience.entreprise + ' | ' + experience.lieu"> 
        <div class="var-container">
            <a [href]="experience.site">
                <img [src]="experience.logo">
            </a>
            <div class="experience-data">  
                <ul>
                    <li *ngFor="let tache of experience.taches">{{tache}}</li>
                </ul>
            </div>
            <span>{{experience.dates}}</span>
        </div>
    </p-card>
</div>