<h2>Études</h2>

<p-timeline class="large-screen" [value]="etudes" align="alternate">
    <ng-template #marker let-event>
        <span>
            <i class="pi pi-circle-fill"></i>
        </span>
    </ng-template>
    <ng-template #content let-etude>
        <div class="card">
            <h3>{{etude.formation}}</h3>
            <span>{{etude.etablissement}}</span>
            <div class="infos-etudes">
                <div *ngIf="etude.parcours">{{etude.parcours}}</div>
                <div>{{etude.dates}}</div>
            </div>
            <a [href]="etude.link" target="_blank" rel="noopener noreferrer"> 
                <p-button label="En savoir plus" size="small"/>
            </a>
        </div>
    </ng-template>
</p-timeline>

<div class="small-screen">
     <div class="card" *ngFor="let etude of etudes">
        <h3>{{etude.formation}}</h3>
        <span>{{etude.etablissement}}</span>
        <div class="infos-etudes">
            <div *ngIf="etude.parcours">{{etude.parcours}}</div>
            <div>{{etude.dates}}</div>
        </div>
        <a [href]="etude.link" target="_blank" rel="noopener noreferrer"> 
            <p-button label="En savoir plus" size="small"/>
        </a>
    </div>
</div>
