:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(----section-padding-large-screen);
    background-color: var(--primary);
    color: var(--text);
}

p-timeline {
    width: 100%;
}

ul {
    text-align: start;
}

.etudes-container {
    display: none;
}

.infos-etudes {
    text-align: center;
    padding: 1em 0 1.5em 0;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: var(----section-padding-small-screen);
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: var(--section-padding-phone-screen);
    }

    p-timeline {
        display: none;
    }

    .etudes-container {
        display: contents;
    }

    ::ng-deep .p-card {
        margin: 1em 0 1em 0;
        text-align: center;
    }

    h2 {
        padding-bottom: 0;
    }
}