:host {
    display: flex;
    justify-content: center;
    padding: 5em 10em 1em 10em;
    color: var(--text);
    background-color: var(--primary);
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: 0.5em 2em 0.5em 2em;
    }

    p {
        font-size: small;
    }
}