<div class="carousel">
  <button class="button-style-icon" (click)="prev()">
    <i class="pi pi-angle-left"></i>
  </button>

  <div class="projet card">
    <img class="project-image" [src]="projets[currentIndex].image" alt="image projet" />
    <h4>{{ projets[currentIndex].name }}</h4>
    <p class="project-description">{{ projets[currentIndex].description }}</p>
    <div class="technologie-chips">
      @for (technology of projets[currentIndex].technologies; track $index) {
        <p-chip [label]="technology"></p-chip>
      }
    </div>

    <a [href]="projets[currentIndex].link" target="_blank" rel="noopener noreferrer"> 
      <p-button label="Github" size="small" icon="pi pi-github" />
    </a>
  </div>

  <button class="button-style-icon" (click)="next()">
    <i class="pi pi-angle-right"></i>
  </button>
</div>