
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 4em;
  color: lightgray;
}

/*
i {
  font-size: 4em;
  color: var(--text);
  transition: 0.5s;
}

i:hover {
  color: var(--main-color);
}
*/

.projet {
  margin: 0 10px;
}

.project-image {
  background-color: var(--main-color);
  width: 100%;
  border-radius: 10px;
  border: var(--border-card-style);
}

h4 {
  padding-top: 0.5em;
  padding-bottom: 0;
}

.technologie-chips {
  padding-bottom: 0.5em;
}

/* Small screens */
@media screen and (max-width: 1000px) {
  :host {
  }

  i {
    font-size: 2em;
  }
}

/* Phones */
@media screen and (max-width: 500px) {
  :host {
  }
}


