<nav class="list-sections large-screen">
    <a *ngFor="let section of sections" [href]="section.link">
        <button class="button-style-icon" pTooltip="{{section.name}}">
            <i class="{{section.icon}}"></i>
        </button>
    </a>
</nav>

<div class="end-nav-bar-options"> 
    <button class="button-style-icon switch-theme-button" (click)="onToggleDarkMode()">
        <i class="{{iconName}}"></i>
    </button>

    <button class="button-style-icon burger-menu small-screen" (click)="onToggleBurgerMenu()">
        <i class="pi pi-bars"></i>
    </button>
</div>




