:host {
    background-color: var(--primary);

    padding: 1em 0.5em;
    height: 100%;
    border-right: solid 1px var(--tertiary);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

.small-screen { display: none; }
.large-screen { display: block; }

.list-sections, .end-nav-bar-options {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: 0.5em 5em;
        height: 4em;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        border-top: solid 1px var(--tertiary);
        border-right: none;
    }

    .list-sections {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        justify-content: space-around;
        padding: 0 6em 0 8em;
    } 
}

/* Phones */
@media screen and (max-width: 800px) {
    .small-screen { display: block; }
    .large-screen { display: none; }

    :host {
        padding: 0.5em 2em;
        display: flex;
        flex-direction: row;
        justify-content: end;
        top: 0;
        border-top: none;
        border-bottom: solid 1px var(--tertiary);
    }

    .end-nav-bar-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .burger-menu {
        background-color: transparent;
        color: var(--text);
        display: flex;
        border: none;
        align-items: center;
        padding: 0.5em;
        border-radius: 10px;
    }

    .burger-menu:hover {
        background-color: var(--tertiary);
        color: var(--text);
        padding: 0.5em;
        border-radius: 10px;
    }
}

