:host {
    font-family: "Inter", sans-serif;
    display: flex;
}

.main-container {
    margin-left: 65px;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    .main-container {
        margin-bottom: 4em;
        margin-left: 0;
    }
}