<h2 id="etudes">Études</h2>

<p-timeline [value]="etudes" align="alternate">
    <ng-template #marker let-event>
        <span>
            <i class="pi pi-circle-fill"></i>
        </span>
    </ng-template>
    <ng-template #content let-etude>
        <p-card class="card-etude" [header]="etude.formation" [subheader]="etude.dates">
            <ul>
                <li *ngIf="etude.parcours">{{etude.parcours}}</li>
                <li>{{etude.etablissement}}</li>
                <li>{{etude.lieu}}</li>
            </ul>
            <a [href]="etude.link" target="_blank" rel="noopener noreferrer"> 
                <p-button severity="contrast" label="En savoir plus" size="small"/>
            </a>
        </p-card>
    </ng-template>
</p-timeline>

<div class="etudes-container">
    <p-card class="card-etude" *ngFor="let etude of etudes" [header]="etude.formation" [subheader]="etude.dates"> 
        <div class="etude-data">
            <ul>
                <li *ngIf="etude.parcours">{{etude.parcours}}</li>
                <li>{{etude.etablissement}}</li>
                <li>{{etude.lieu}}</li>
            </ul>
        </div>
        <a [href]="etude.link" target="_blank" rel="noopener noreferrer"> 
            <p-button severity="contrast" label="En savoir plus" size="small"/>
        </a>
    </p-card>
</div>
