:host {
    background-color: var(--primary);
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 8em 25em 10em 25em;
    border-bottom: 1px solid var(--secondary);
}

img {
    height: 100px;
    width: 100px;
}

.contact-icons {
    padding: 0 1em;
    align-items: center;
}

a {
    padding: 0.5em;
}

i {
    font-size: 2em !important;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        height: fit-content;
        padding: 5em 10em 1em 10em;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        height: fit-content;
        padding: 5em 0.5em 0 0.5em;
    }
}