<img src="assets/photo-cercle.png">

<h2>Christelle Souka</h2>

<h3>Développeuse et élève ingénieure</h3>

<p>Recherche une alternance pour un cycle ingénieur – Disponible dès maintenant ou pour la rentrée de septembre 2026</p>

<div class="contact-icons">
    <a href="https://www.linkedin.com/in/christelle-souka/">
        <button class="button-style-icon">
            <i class="pi pi-linkedin"></i>
        </button>
    </a>

    <a href="mailto:soukachristelle@gmail.com">
        <button class="button-style-icon">
            <i class="pi pi-envelope"></i>
        </button>
    </a>

    <a href="https://github.com/Crii-san">
        <button class="button-style-icon">
            <i class="pi pi-github"></i>
        </button>
    </a>
</div>

<a href="assets/presentation/CV_Christelle_Souka_Alternance.pdf" target="_blank" rel="noopener noreferrer">
    <p-button label="Télécharger le CV" icon="pi pi-download"></p-button>
</a>