:host {
    background-color: var(--secondary);
    padding: 2em 10em 3em 10em; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding-bottom: 1em;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
}

a {
    transition: 0.5s;
}

a:hover {
    transform: scale(1.05);
}

span {
    padding-top: 1em;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: 2em 5em 3em 5em;
    }

    .contact {
        padding-top: 2em;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: 0.5em 2em 2em 2em;
    }

    .contact {
        padding: 0;
    }

    span {
        padding-top: 1em;
        padding-bottom: 2em;
    }
}