:host {
    background-color: var(--primary);
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-padding-large-screen); 
    border-bottom: 1px solid var(--secondary); 
}

.experiences-container {
    display: flex;
    flex-direction: column;
}

.experience {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    flex: 1;
}

h3, h4 {
    padding: 0.5em 0 0.5em 0;
    margin: 0;
}

a {
    width: fit-content;
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

a:hover {
    transform: scale(1.05);
}

p {
    padding: 0.5em 0;
}

.header-experience {
    font-weight: 500;
    font-size: 1.5em;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: var(--section-padding-small-screen);
    }

    .var-container {
        flex-direction: column;
        align-items: center;
        padding: 2em 0 0 0;
    }

    .experience-data {
        padding: 1em 0 1em 0;
    }

    span {
        text-align: center;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: var(--section-padding-phone-screen);
    }

    h2 {
        padding-bottom: 0;
    }

    .experience-data {
        padding: 0 0 1em 0;
    }

    ul {
        text-align: start;
    }

    .var-container {
        padding: 1em 0 0 0;
    }
}
