:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 10em 3em 10em;   
    background-color: var(--secondary);
}

h2 {
    padding-bottom: 1em;
}

.competences-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

h3 {
    text-align: center;
}

.competence-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--primary);
    color: var(--text);

    text-decoration: none;
    padding: auto;
    margin: 1em;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transition: 0.5s;
}

a:hover {
    transform: scale(1.05);
}

.competence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    padding-bottom: 0.5em;
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: 1em 5em 2em 5em;
    }

    a {
        width: 120px;
        height: 120px;
    }

    img {
        height: 70px;
        width: 70px;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: 0.5em 2em 0.5em 2em;
    }

    h2 {
        padding-bottom: 0;
    }

    a {
        width: 120px; 
        height: 120px; 
    }

    img {
        height: 60px;
        width: 60px;
    }
}