/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
    color-scheme: light;
    --primary: white;
    --secondary: rgb(241, 241, 241);
    --tertiary: rgb(225, 225, 225);
    --text: #232323;
    --button: #232323;

    --section-padding-large-screen: 3em 25em;
    --section-padding-small-screen: 3em 10em;
    --section-padding-phone-screen: 3em 2em;

    --main-color: rgb(219, 50, 219);
    --secondary-color: rgb(225, 163, 225);

    --border-card-style: 1px solid var(--tertiary);
}

body.dark-mode {
    color-scheme: dark;
    --primary: #232323;
    --secondary: #282828;
    --tertiary: #707070;
    --text: white;
    --button: white;
    --border-card-style: 1px solid rgb(55, 55, 55);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, app-root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

body.no-scroll {
  overflow: hidden;
}


html {
    scroll-padding-top: 150px; 
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    font-size: 4em;
    margin: 0;
    padding: 0.5em 0 0 0;
    color: var(--main-color);
}

h2 {
    font-weight: 500;
    margin: 0;
    font-size: 3em;
    padding-bottom: 0.5em;
}

h3, h4 {
    font-weight: 500;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 1.5em;
    color: var(--text) !important;
}


.card-etude .p-card .p-card-body {
    background-color: var(--secondary) !important;
    border-radius: 10px !important;
    color: var(--text)  !important;
}

.card-experience .p-card .p-card-body {
    background-color: var(--secondary) !important;
    border-radius: 10px !important;
    color: var(--text)  !important;
}

.card-experience {
    margin-bottom: 1em !important;
}

a {
    text-decoration: none;
    color: var(--text);
}

p {
    margin: 0;
    padding: 0.5em 0;
}

li::marker {
  color: var(--main-color);
}

ul {
    padding: 0.5em 1em 0 1em;
    margin: 0;
}

/* button only icon style */
.button-style-icon {
    color: var(--text);
    background-color: var(--primary);
    border: none;
    padding: 1em;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

/* p-button style with icon */
.p-button {
    background-color: var(--button) !important;
    padding: 1em 2em !important;
    transition: 0.5s !important;
    border-radius: 10px !important;
    border: none !important;
}

.p-button:hover {
    transform: scale(1.05) !important;
}


/* tooltip style */
.p-tooltip .p-tooltip-text {
    background: rgba(245,255,250,0);
    color: var(--text);
    border: none;
    font-family: "Inter", sans-serif;
    box-shadow: none;
    border-radius: 0.5em;
}

.p-tooltip-arrow {
  display: none;
}

/* t-tap style */
.p-tag {
    background-color: var(--secondary) !important;
    color: var(--text) !important;
    font-weight: 500 !important;
}

/* accordion style */
.p-accordionheader, .p-accordioncontent-content {
    background-color: var(--primary) !important;
    color: var(--text) !important;
}

.p-accordionpanel {
    border-bottom: var(--border-card-style) !important ;
}
  

/* p-chip style */
.p-chip {
    background-color: var(--primary) !important;
    padding: 0.5em 1em !important;
    border: var(--border-card-style) !important;
    font-size: small !important;
}


/* Phones */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
        padding-bottom: 1em;
    }
}