:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-padding-large-screen);
    background-color: var(--primary);
    color: var(--text);
}

/* Small screens */
@media screen and (max-width: 1300px) {
    :host {
        padding: var(--section-padding-small-screen);
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: var(--section-padding-phone-screen);
    }

    h2 {
        padding-bottom: 0;
    }
}