<h2>Projets</h2>

<app-carousel [projets]="projets"></app-carousel>

<div class="projet card phone">
    <img class="project-image" [src]="projets[0].image" alt="image projet" />
    <h4>{{ projets[0].name }}</h4>
    <p class="project-description">{{ projets[0].description }}</p>
    <div class="technologie-chips">
        @for (technology of projets[0].technologies; track $index) {
        <p-chip [label]="technology"></p-chip>
        }
    </div>

    <a [href]="projets[0].link" target="_blank" rel="noopener noreferrer"> 
        <p-button label="Github" size="small" icon="pi pi-github" />
    </a>
</div>
