:host {
    display: flex;
    flex-direction: column;
    padding: var(--section-padding-large-screen);
    background-color: var(--primary);
    color: var(--text);
}

.presentation-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.presentation-text {
    margin: auto;
}

/* Small screens */
@media screen and (max-width: 1000px) {
    :host {
        padding: 4em 5em 3em 5em;
    }
    
    .presentation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
}

/* Phones */
@media screen and (max-width: 500px) {
    :host {
        padding: 0.5em 2em 0.5em 2em;
    }
}