<h2 id="presentation">À propos</h2>

<div class="presentation-container">
    <div class="photo">
        <img src="assets/presentation/photo-pro.jpg">
    </div>

    <div class="presentation-text">
        <p>
            🎯 Élève ingénieure et alternante développeuse web et mobile.
        </p>
        <p>
            💻 Actuellement en alternance chez l'ESN Inflexsys, je suis mes études à l’EFREI Bordeaux afin d'approfondir mes compétences en ingénierie logicielle. J’ai eu l’occasion de travailler sur divers projets web en tant que développeuse full-stack dans des contextes académiques et professionnels. En parallèle, je me forme activement sur Angular et continue de consolider mes bases en front-end et back-end pendant mon temps libre.
        </p>
        <p>
            💡 Que ce soit dans les études, le sport ou la vie en général, j’aspire à progresser dans mes objectifs en apprenant à la fois des autres et par l’auto-formation. Ce qui me motive : travailler au sein d'une équipe passionnée et enthousiaste où l'entraide est le moteur qui permet d'avancer.
        </p>
        <p>
            📬 N’hésitez pas à me contacter pour me faire part de vos conseils ou si vous avez des suggestions qui me permettraient d'améliorer mon site !
        </p>
    </div>
</div>

<a href="assets/presentation/CV_Christelle_Souka_Alternance.pdf" target="_blank" rel="noopener noreferrer">
    <p-button label="Télécharger le CV" severity="contrast" icon="pi pi-download" size="large"></p-button>
</a>







