<h2>À propos</h2>

<div class="presentation-container">
    <h3>Quelques détails à savoir sur moi</h3>

    <div class="presentation-text">
        <p>
            Je suis élève ingénieure à l’EFREI Bordeaux afin d'approfondir mes compétences en ingénierie logicielle. J’ai eu l’occasion de travailler sur divers projets en tant que développeuse full-stack dans des contextes académiques et professionnels. 
        </p>
        <p>
            Mon précédent contrat d'alternance venant de s'étant achevé en mars, je suis à la recherche d'une nouvelle entreprise afin de poursuivre ma formation et ma montée en compétence.
        </p>
        <p>
            Que ce soit dans les études, le sport ou la vie en général, j’aspire à progresser dans mes objectifs en apprenant à la fois des autres et par l’auto-formation. Ce qui me motive : travailler au sein d'une équipe passionnée et enthousiaste où l'entraide est le moteur qui permet d'avancer.
        </p>
        <p>
            N’hésitez pas à me contacter pour me faire part de vos conseils, si vous avez connaissance d'une opportunité ou si vous avez des suggestions qui me permettraient d'améliorer mon site !
        </p>
    </div>
</div>






